* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
}

html, body { 
    width: 100%; 
    height: 100%;
}

body {
    font: normal 15px/1 'NanumBarunGothic','Noto Sans KR','Malgun Gothic','맑은 고딕','돋움','arial';
    background: #fff;
    color: #6c6d73;
    line-height: 1.5;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 14px;
}

header,nav,main,section,aside,article,footer {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

ul, li {
    list-style: none;
}

em,i,address {
    font-style: normal;
}

button { 
    background:transparent; border: 0; cursor: pointer;
}

html, body, .container { 
    overflow: auto;
    height: 100%;
}